*.rbc
capybara-*.html
.rspec
/log
/tmp
/public/system
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/master.key

.env.*

.DS_Store

/.bundle
/vendor/bundle

.rvmrc
/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv

node_modules/

# Ignore simplecov
coverage/*
!/coverage/coverage.svg
