.body {
  width: 100%;
  height: 100%;

  .title {
    width: 100%;
    font-size: rem-calc(48);
    text-align: center;
  }

  .status {
    width: 65%;
    float: left;
    margin-left: rem-calc(32);

    ul {
      width: 75%;
      border: 1px solid $black;
      background-color: $light-gray;
      @include box-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.4), false);
      @include border-radius(rem-calc(12 12 48 48));
      padding: 0;

      li {
        display: flex;
        font-size: rem-calc(16);
        justify-content: center;
        font-family: $status-font;

        &:first-child {
          margin-bottom: 2em;
        }

        &:last-child {
          font-size: rem-calc(18)
        }

        .circle {
          height: rem-calc(26);
          width: rem-calc(30);
          background-color: $white;
          border: 1px solid $black;
          @include border-radius(50%);
          text-align: center;
        }
      }
    }
  }

  .class_and_race {
    width: 30%;
    margin-left: rem-calc(32);
    float: left;

    ul {

      li {
        display: flex;

        .class, .race, .level{
          border-bottom: 1px solid $black;
          font-family: $class-font;
        }
      }
    }
  }
}
